services:
    database:
        image: postgres:16-alpine
        ports:
            - 5432:5432
        restart: always
        environment:
            POSTGRES_USER: docker
            POSTGRES_PASSWORD: docker
            POSTGRES_DB: exampledb
        volumes:
            - postgres_data:/var/lib/postgresql/data

    adminer:
        image: adminer
        restart: always
        depends_on:
            - database
        ports:
            - 8080:8080

    web:
        build: .
        ports:
            - "5000:5000"
        volumes:
            - .:/app
        environment:
            #
            DATABASE_URL: postgresql+psycopg://docker:docker@database/exampledb
            FLASK_APP: app.py
            FLASK_DEBUG: "1"
        depends_on:
            - database
        # 起動順序を制御するコマンド
        command: >
            sh -c "until nc -z database 5432; do
              echo 'Waiting for PostgreSQL...'
              sleep 1
            done;
            python app.py"

volumes:
    postgres_data:

